<button class="btn btn-success" (click)="add()">Add</button>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Image</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ category.name }}</td>
      <td><img src="{{ category.image }}" width="150" height="150" /></td>
      <td>
        <button class="btn btn-primary" (click)="edit(category.id)">
          Edit
        </button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="delete(category.id)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: showModal }"
>
  >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
